/* accent colour #2196F3 */
/*studio coulour #000000 */
/* main colour #212121 */
/* shade colour #757575 */
/*secondary colour #FFFFFF */
/* footer nav colour rgba(255, 255, 255, 0.6) */
/* background: #F5F5F5; */
/* background footer: #2F303A */
/* background portfolio butomn: #F5F4FA */
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
}

ul,
h1,
h2,
h3,
h4,
p {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* site nav */
.site-nav-list {
  display: flex;
}
.container-nav {
  display: flex;
}
.site-nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-list .link {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-color);
}
.site-nav-list .link.current {
  color: var(--accent-color);
}
.navigation {
  display: flex;
  align-items: center;
}
/* contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .c-link:not(:last-child) {
  margin-right: 50px;
}
.contacts .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.c-link .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts .c-link:not(:last-child) {
  margin-right: 50px;
}
/* hero */
.hero {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-list .subtitle {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  text-align: center;
}

.title-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.team-list .text {
  margin-bottom: 16px;
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.92;
  margin-top: 10px;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-item {
  display: inline-block;
  width: calc((100% - 90px) / 4);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item-about {
  background-color: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.section-team .title {
  margin-bottom: 50px;
  text-align: center;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.section-features {
  padding-top: 94px;
}
.features {
  display: flex;
  flex-wrap: wrap;
}
.features .item {
  width: 270px;
  margin-right: 30px;
}
.features .item:last-child {
  margin-right: 0;
}
.features .subtitle {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features .text {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}
.button {
  display: inline-block;
  font-family: 'Roboto';

  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;

  border: none;
}

/* Чим ми займаємося */

.actions {
  display: flex;
}

.action-list {
  margin-right: 30px;
  margin-bottom: 0px;
}
.action-list:last-child {
  margin-right: 0;
}
.overlay-thumb {
  display: flex;
  position: relative;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0px;
  margin: 0%;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4px;

  justify-content: center;
  align-items: center;
  display: flex;
}

/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.contacts-footer .address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.contacts-footer .address:hover,
.contacts-footer .address:focus {
  color: var(--accent-color);
}
.f-contact-address {
  margin-top: 20px;
}
.f-contact-link {
  margin-top: 9px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* portfolio */

.button-portfolio {
  display: block;
  padding: 6px 22px;

  font-family: 'Roboto';
  color: var(--primary-text-color);
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.btn-portfolio:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.work-list .subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-list .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}
.portfolio-works {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-link,
.link-icon {
  text-decoration: none;
}
.work-item {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.image {
  display: block;
}
.portfolio-item {
  display: inline-block;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.container-portfolio-nav {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.button-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
}
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #757575;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/bg\ \(1\).jpg');
}
.features .item:nth-child(1)::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url('../images/antenna.svg');
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  border-radius: 4px;
}
.features .item:nth-child(2)::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url('../images/clock.svg');
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  border-radius: 4px;
}
.features .item:nth-child(3)::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url('../images/diagram.svg');
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  border-radius: 4px;
}
.features .item:nth-child(4)::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url('../images/astronaut.svg');
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  border-radius: 4px;
}
.c-link {
  display: flex;
}
.contact-icon {
  width: 10px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.contact-icon-m {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.social-accounts:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  border-radius: 50%;
  background-color: #fff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  background-color: var(--accent-color);
  fill: #fff;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

/* companies */
.companies {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.company-list:not(:last-child) {
  margin-right: 30px;
}
.company-link {
  border-radius: 4px;
  background-color: #fff;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
}

.company-link:hover,
.company-link:focus {
  border-color: var(--accent-color);

  fill: var(--accent-color);
}
.footer-second {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-social {
  display: block;
}
.footer-social-l {
  display: flex;
}

.footer-main {
  display: flex;
  align-items: baseline;
}
.footer-container {
  margin-right: 70px;
}

/* footer social links */
/* ul */
.team-socialfooter-social-l {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
/* li */
.f-social-accounts:not(:last-child) {
  margin-right: 10px;
}
/* a */
.f-social-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
/* svg */
.f-social-link:hover .f-social-icon,
.f-social-link:focus .f-social-icon {
  background-color: var(--accent-color);
  fill: #fff;
}
.f-social-link:hover,
.f-social-link:focus {
  background-color: var(--accent-color);
}

.site-nav-list .link.current {
  position: relative;
}

.site-nav-list .link.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  margin-bottom: -1px;

  background-color: var(--accent-color);
}

.image-overlay {
  display: block;
  position: relative;
  overflow: hidden;
}

.overlay-works {
  position: absolute;
  display: flex;
  width: 100%;
  min-height: 294px;
  top: 0;
  right: 0;
  transition: transform 250ms;
}
.overlay-worktext {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;

  transform: translateY(100%);
}
.overlay-works:hover {
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) .;
}

/* .btn{
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;

  background-color: gray;
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
}
.btn::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: orange;
  margin: 10px;
  background-image: url(../images/clock.svg);
  background-size: contain;
  transition: transform 250ms;
}
.btn:hover::after {
  transform: translateY(-35px);
}
.btn:before {
  content: '';
  position: absolute;
  top: 45px;
  left: 168.7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;

  transition: transform 250ms;
}
.btn:hover::before {
  transform: translateY(calc(50% - 45px));
} */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-m {
  display: block;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  margin: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.close-icon {
  display: block;
  width: 11px;
  height: 11px;
}
